body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}

/* Header & Navigation */
header {
    background-color: #ff5733;
    text-align: center;
    padding: 20px;
    color: #fff;
}

h1 {
    margin: 0;
    padding: 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
}

nav a:hover {
    color: #f0f0f0;
}

/* Sections */
section {
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

section h2 {
    color: #ff5733;
}

section img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    border-radius: 6px;
}

/* Footer */
footer {
    background-color: #ff5733;
    text-align: center;
    padding: 10px;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Main container */
.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

/* Dialogflow Messenger custom styling */
df-messenger {
    --df-messenger-bot-message: #f4f4f4;
    --df-messenger-user-message: #0084ff;
    --df-messenger-button-titlebar-color: #ff5733;
    --df-messenger-chat-background-color: #ffffff;
    --df-messenger-font-color: #000;
    --df-messenger-send-icon: #ff5733;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2000;
}
